<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="shortcut icon" href="../static/images/websitelogo.png" />
<link rel="stylesheet" href="../static/css/chores.css">
<link rel="stylesheet" href="../static/css/navbar.css">
<script src="../static/js/chores.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
function valueChanged(){	
	if($('#change1').is(":checked")){
		$("#auto1").show(500);
		$("#manual1").hide(500);
		}
	else{
		$("#auto1").hide(500);
		$('#manual1').show(500);
		}	
}
function valueChanged2(){	
	if($('#change2').is(":checked")){
		$("#auto2").show(500);
		$("#manual2").hide(500);
		}
	else{
		$("#auto2").hide(500);
		$('#manual2').show(500);
		}	
}
function valueChanged3(){	
	if($('#change3').is(":checked")){
		$("#auto3").show(500);
		$("#manual3").hide(500);
		}
	else{
		$("#auto3").hide(500);
		$('#manual3').show(500);
		}	
}
function home(){
	window.location.href = "/home"
}


</script>

<title>Smart Lifestyle - Household Chores</title>
</head>
<body>

<!-- nav bar -->
<img src="../static/images/websitelogo.png" class="logo" id="logo" onclick="home()"/>
<div id='cssmenu'>
<ul>

   <li><a href='/home'><span>HOME</span></a></li>
   <li class='active has-sub'><a href='/application' id="active"><span>APPLICATIONS</span></a>
      <ul>
         <li class='has-sub'><a href='/haze'><span>Haze Warning</span></a>
         </li>
         <li class='has-sub'><a href='OOPP1.html'><span>Family Bonding</span></a>
         </li>
		 <li class='has-sub'><a href='/securityfunction'><span>Security</span></a>
         </li>
		 <li class='has-sub'><a href='/household_chores' id="active"><span>Household Chores</span></a>
         </li>
      </ul>
   </li>
   <li class='active has-sub'><a href='#'><span>SETTINGS</span></a>
		<ul>
			<li class='has-sub'><a href='/myprofile'><span>My Profile</span></a>
			</li>
			<li class='has-sub'><a href='/notifications'><span>Notifications</span></a>
			</li>
			<li class='has-sub'><a href='/utility'><span>Utility Charges</span></a>
			</li>
		</ul>
   </li>
   <li class='last'><a href='#'><span>ABOUT</span></a></li>
</ul>
</div>

<div class="head">
<h1>Household Chores</h1>
</div>
<div class='center'>
<p>Device Management</p>
<hr>
</div>
<!-- Trigger/Open The Modal -->
<button class='button' id="myBtn">Add Devices</button>

<div id='page'>
	<ul id="list">
	<li>
		<div class="device">
			<img class="image" src='../static/images/cleaner.jpg' alt='robotic cleaner'/>
			<h3>Vacuum Cleaner</h3>
			<p class="pos">Position: Living Room</p>
			
			<p><span class='manOrauto'>Manual</span>
				<label class="switch">
					<input type="checkbox" id="change1" onchange="valueChanged()">
					<span class="slider round"></span>
				</label>
			<span class='manOrauto'>Automatic</span>
			</p>
			
			<div id="manual1">
				<p>
				<span class='onOff'> Off</span>
					<label class="switch2">
						<input type="checkbox">
						<span class="slider2 round"></span>
					</label>
				<span class='onOff'>On</span>
				</p>
			</div>
			<div id="auto1">
				<label for="timestart">Start Time:
				<input type="text" id="timestart" name="start"><br>
				<label for="duration">Duration:
				<input type="text" id="duration" name="duration"/>
			</div>
			<br><br><br>
			<button class="remove">
			<span class="x">&times;</span>Remove
			</button>
		</div>
	</li>
	<li>
		<div class="device">
		<img class="image" src='../static/images/washingmachine.jpg' alt='washing machine'/>
		<h3>Washing Machine</h3>
		
		<p class="pos">Position: Kitchen</p>
		
		<p><span class='manOrauto'>Manual</span>
			<label class="switch">
			<input type="checkbox" id="change2" onchange="valueChanged2()" >
			<span class="slider round"></span>
			</label>
		<span class='manOrauto'>Automatic</span>
		</p>
		
		<div id="manual2">
		<p><span class='onOff'> Off</span>
			<label class="switch2">
			<input type="checkbox">
			<span class="slider2 round"></span>
			</label>
		<span class='onOff'>On</span></p>
		</div>
		<div id="auto2">
			<label for="timestart">Start Time:
			<input type="text" id="start" name="start"><br>
			<label for="duration">Duration:
			<input type="text" id="duration" name="duration">
		</div>
		<br><br><br>
		<button class="remove">
			<span class="x">&times;</span>Remove
		</button>
		</div>
	</li>
	<li>
		<div class="device">
		<img class="image" src='../static/images/mop.jpg' alt='robotic mop'/>
		<h3>Electronic Mop</h3>
		
		<p class="pos">Position: Kitchen</p>
		
		<p><span class='manOrauto'>Manual</span>
			<label class="switch">
			<input type="checkbox" id="change3" onchange="valueChanged3()" >
			<span class="slider round"></span>
			</label>
		<span class='manOrauto'>Automatic</span>
		</p>
		
		<div id="manual3">
		<p><span class='onOff'> Off</span>
			<label class="switch2">
			<input type="checkbox">
			<span class="slider2 round"></span>
			</label>
		<span class='onOff'>On</span></p>
		</div>
		<div id="auto3">
			<label for="timestart">Start Time:
			<input type="text" id="start" name="start"><br>
			<label for="duration">Duration:
			<input type="text" id="duration" name="duration">
		</div>
		<br><br><br>
		<button class="remove">
			<span class="x">&times;</span>Remove
		</button>
		</div>
	</li>
	</ul>
</div>


<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Add a Device</h2>
    </div>
    <div class="modal-body">
	
		<select name="device" id="select">
			<option value="cleaner">Vacuum Cleaner</option>
			<option value="wash">Washing Machine</option>
			<option value="mop">Electronic Mop</option>
			<option value="others">Others</option>
		</select>
  <br><br>
  <div class='options'>
  <label for="position">Position:
  <input type="text" name="position" id='position' required><br>
  <label for="serial">Serial number:
  <input type="text" name="serial" id='serial' required>
	<br><br>
	<button id='add' onclick="addDevice()">Add Device</button>

   </div>
    </div>
  </div>

</div>
<script src="https://www.gstatic.com/firebasejs/4.8.0/firebase.js"></script>



</body>
</html>
