<!doctype html>
<html>
   <body>
    <form action = "" method = POST>

        {{form.username.label }}
        {{form.username}}

        {{form.password.label }}
        {{form.password }}

        {{form.email.label }}
        {{form.email }}

        {{form.mobileno.label }}
        {{form.mobileno }}

        {{form.streetname.label }}
        {{form.streetname }}

        {{form.unitno.label }}
        {{form.unitno }}

        {{form.postalcode.label }}
        {{form.postalcode }}

        {{form.savechanges.label }}
        {{form.savechanges }}
    </form>
    </body>
</html>
