html,body,h1,h2,h3,h4 {font-family:"Lato", sans-serif}
.mySlides {display:none}
.w3-tag, .fa {cursor:pointer}
.w3-tag {height:15px;width:15px;padding:0;margin-top:6px}


body{
	background-image: url("https://cdn.discordapp.com/attachments/320223667508346881/376658456922554378/login_page_background.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
}



div.nav ul{
    margin:0 ;
    padding: 0;
    position:fixed;
    background-color: #333;
    top: 0;
    width: 100%;
	z-index:1;
	text-align: center;
}

div.nav li a, .dropbtn {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
	margin:12px;
	display: inline-block;
	border: 2px solid #4CAF50;
}
div.nav li{
	display: inline;
	float: left;
	list-style-type: none;
}
div.nav li a:hover, .dropdown:hover .dropbtn{
    background-color: #FF4500;
	text-shadow: 0 0 5px #00FF00;
	color:white;
}
#active {
    background-color: #4CAF50;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #4CAF50}

.dropdown:hover .dropdown-content {
    display: block;
}