.logo{
	position:sticky;
	top: 0;
	z-index:99;
	background-color:#ffffff;
    width:220px;
    height:80px;
}
div.set ul{
	background-color: #ffffff;
	border-radius: 4px;
	position:relative;
	height:auto;
	top:4px;
    left: 11.65%;
	border: 2px solid black;
	padding:12px;
	width:9%;
}
div.set li{
	font-weight: bold;
	margin: 5%;
	display: inline;
	padding-bottom:10px;
	float:center;
}
div.set li a{
    color: black;
    background-color:#00BFFF;
	text-decoration: none;
    text-align: center;
	border:2px solid black;
	display:block;
    padding: 19px 16px;
	position:center;
	transition: all 0.4s ease 0s;
}
div.set li a:hover {
    background-color: #FF4500;
	color:white;
}

div.profile{
	background-color: #ffffff;
	border-radius: 4px;
	position:absolute;
	height:auto;
    top: 11.7%;
    left: 25%;
	border: 2px solid black;
	width: 65%;
	padding:12px;
}
.heading{
	text-align:center;
}
div.set .active2{
    background-color: #32CD32;
}
.subprofile{
	padding-top:1%;
}
input[type=text], input[type=password], input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	bottom:4.5px;
	position:relative;
	font-size:20px;
	text-align:left;
}
input[type=text]:focus {
    border: 3px solid #555;
}
label{
    display:inline-block;
    width:100px;
}
hr{
	border: 1px solid black;
    outline-style: solid;
    outline-color: red;
	width:30%;
}
#changepass{
	
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
	font-size:20px;
	position: relative;
    left:15px;
}

.valid:before {
    position: relative;
    left:-5px;
    content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
	font-size:20px;
	position: relative;
    left:15px;
}

.invalid:before {
    position: relative;
    left:-5px;
    content: "✖";
}