<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<link rel="stylesheet" href="../static/css/homepage.css">
<link rel="stylesheet" href="../static/css/navbar.css">

<title>Smart Lifestyle - Home</title>
</head>
<body>

<!-- nav bar -->
<img style="width:220px; height:80px;" src="../static/images/websitelogo.png" class="logo" id="logo"/>
<div id='cssmenu'>
<ul>

   <li><a href='/home' id="active"><span>HOME</span></a></li>
   <li class='active has-sub'><a href='/application'><span>APPLICATIONS</span></a>
      <ul>
         <li class='has-sub'><a href='Haze.html'><span>Haze Warning</span></a>
         </li>
         <li class='has-sub'><a href='OOPP1.html'><span>Family Bonding</span></a>
         </li>
		 <li class='has-sub'><a href='Security_Functions.html'><span>Security</span></a>
         </li>
		 <li class='has-sub'><a href='/household_chores'><span>Household Chores</span></a>
         </li>
      </ul>
   </li>
   <li class='active has-sub'><a href='#'><span>SETTINGS</span></a>
		<ul>
			<li class='has-sub'><a href='/myprofile'><span>My Profile</span></a>
			</li>
			<li class='has-sub'><a href='/notifications'><span>Notifications</span></a>
			</li>
			<li class='has-sub'><a href='/utility'><span>Utility Charges</span></a>
			</li>
		</ul>
   </li>
   <li class='last'><a href='#'><span>ABOUT</span></a></li>
</ul>
</div>

<h1 class="welcome">Welcome!</h1>
<div class="middle">
<p>Experience a comfortable life when <br> you are living with advanced technology</p> 
<hr>
</div>
<p class="arrow">Click below to see the<br>applications that we have!<br><span>&#8595;</span></p>
<a href='/application'><button class="app"><span>Click me to discover!</span></button></a>

<br><br><br>
<div class="des">
<h2>What is this website about?</h2>
<p>Our website allows users to live in comfort by preventing small problems within the household.<br>
For example, users might forget to turn off the lights, wanting to cool off after work or even<br>
wanting to get some household chores done while away. With this website, you will be able to turn<br>
off the lights via wireless network and even turn on the air conditioner while you are at work!</p>
</div>

<!-- help bot -->

</body> 
</html>
