<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="shortcut icon" href="../static/images/websitelogo.png" />
<link rel="stylesheet" href="../static/css/settings.css">
<link rel="stylesheet" href="../static/css/navbar.css">

<script>
function home(){
	window.location.href = "/home"
}

</script>
<title>Smart Lifestyle - Notifications</title>
</head>
<body>

<!-- nav bar -->
<img src="../static/images/websitelogo.png" class="logo" id="logo" onclick="home()"/>
<div id='cssmenu'>
<ul>

   <li><a href='/home'><span>HOME</span></a></li>
   <li class='active has-sub'><a href='/application'><span>APPLICATIONS</span></a>
      <ul>
         <li class='has-sub'><a href='/haze'><span>Haze Warning</span></a>
         </li>
         <li class='has-sub'><a href='OOPP1.html'><span>Family Bonding</span></a>
         </li>
		 <li class='has-sub'><a href='/securityfunction'><span>Security</span></a>
         </li>
		 <li class='has-sub'><a href='/household_chores'><span>Household Chores</span></a>
         </li>
      </ul>
   </li>
   <li class='active has-sub' id="active"><a href='#'><span>SETTINGS</span></a>
		<ul>
			<li class='has-sub'><a href='/myprofile'><span>My Profile</span></a>
			</li>
			<li class='has-sub'><a href='/notifications' id="active"><span>Notifications</span></a>
			</li>
			<li class='has-sub'><a href='/utility'><span>Utility Charges</span></a>
			</li>
		</ul>
   </li>
   <li class='last'><a href='#'><span>ABOUT</span></a></li>
</ul>
</div>

<div class="set">
<ul>
<li><a href="/myprofile">My Profile</a></li>
<li><a href="/notifications" class="active2">Notifications</a></li>
<li><a href="/utility">Utility Charges</a></li>
</ul>
</div>
<div class="note">
<h1 class='heading'>Notifications</h1><hr>
<div class="alert">Your notification settings has been updated!</div>
<div class='subnote'>
    <form id="notifications">
	<div class="haze_note">

        <h3>Haze:</h3>
        <p>I would like to recieve notifications about any haze functions via: </p>
        <input type="radio" name="haze" id="hazeEmail" value="email">My Email<br>
        <input type="radio" name="haze" id="hazeMsg" value="phone">Phone(message)<br>
        <input type="radio" name="haze" id="hazeNone" value="no" checked="checked">Disable(no notifications)

	</div>
	<div class="security_note">

        <h3>Security:</h3>
        <p>I would like to recieve notifications if any suspicious motions is detected via: </p>
        <input type="radio" name="security" id="secEmail" value="email">My Email<br>
        <input type="radio" name="security" id="secMsg" value="phone">Phone(message)<br>
        <input type="radio" name="security" id="secNone" value="no" checked="checked">Disable(no notifications)


        <p>I would like to recieve notifications if any devices are switched on via: </p>
        <input type="radio" name="device" id="deviceEmail" value="email">My Email<br>
        <input type="radio" name="device" id="deviceMsg" value="phone">Phone(message)<br>
        <input type="radio" name="device" id="deviceNone" value="no" checked="checked">Disable(no notifications)

        </div>
	<br><br>
    <input type="submit" class="button2" value="Save Changes">
    <input type="reset" class="reset" value="Revert Changes">
    </form>
</div>

</div>
<script src="https://www.gstatic.com/firebasejs/4.8.0/firebase.js"></script>
<script src="../static/js/notifications.js"></script>

</body>
</html>
