<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<link rel="stylesheet" href="../static/css/settings.css">
<link rel="stylesheet" href="../static/css/navbar.css">
<title>Smart Lifestyle - My Profile</title>
</head>
<body>

<!-- nav bar -->
<img src="../static/images/websitelogo.png" class="logo" id="logo"/>
<div id='cssmenu'>
<ul>

   <li><a href='/home'><span>HOME</span></a></li>
   <li class='active has-sub'><a href='/application'><span>APPLICATIONS</span></a>
      <ul>
         <li class='has-sub'><a href='Haze.html'><span>Haze Warning</span></a>
         </li>
         <li class='has-sub'><a href='OOPP1.html'><span>Family Bonding</span></a>
         </li>
		 <li class='has-sub'><a href='Security_Functions.html'><span>Security</span></a>
         </li>
		 <li class='has-sub'><a href='/household_chores'><span>Household Chores</span></a>
         </li>
      </ul>
   </li>
   <li class='active has-sub' id="active"><a href='#'><span>SETTINGS</span></a>
		<ul>
			<li class='has-sub'><a href='/myprofile' id="active"><span>My Profile</span></a>
			</li>
			<li class='has-sub'><a href='/notifications'><span>Notifications</span></a>
			</li>
			<li class='has-sub'><a href='/utility'><span>Utility Charges</span></a>
			</li>
		</ul>
   </li>
   <li class='last'><a href='#'><span>ABOUT</span></a></li>
</ul>
</div>

<div class="set">
<ul>
<li><a class="active2" href="/myprofile">My Profile</a></li>
<li><a href="/notifications">Notifications</a></li>
<li><a href="/utility">Utility Charges</a></li>
</ul>
</div>

<div class="profile">
<h1 class='heading'>My Profile</h1><hr>
<form>
<div class='subprofile'>
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required><br>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" value="PASSWORD" disabled >
    <input type="button" class="button2" value="Change Password">

    <p class="info">&#9432; Ensure that you do not give your password out to anyone!</p>

    <label for="email">E-mail:</label>
    <input type="email" name="email" id="email" required>

    <p class="info">&#9432; Please ensure that this is your current email as notifications will be sent to it!</p>

    <label for="mobileno">Mobile Number:</label>
    <input type="text" name="mobileno" id="mobileno" required>

    <p class="info">&#9432; Please ensure that this is your current phone number as notifications will be sent to it!</p>

    <h3>House Address</h3>
    <label for="streetname">Street Name:</label>
    <input type="text" name="streetname" id="streetname" required>
	<br>
    <label for="unitno">Unit Number:</label>
    <input type="text" name="unitno" id="unitno" required>
    <label for="postalcode">Postal Code:</label>
    <input type="text" name="postalcode" id="postalcode" required>
    <div class="infobox">
        <p class="info">&#9432; House address is needed in order to display your utility charges!</p>
    </div>
     <br><br>
    <input type="button" class="button2" value="Save Changes">
    <input type="reset" class="reset" value="Revert Changes">
</div>
</form>
</div>

<script src="https://www.gstatic.com/firebasejs/4.8.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyB4sBU2x4k9W5RuNfuuNUMcSyh94t9HT4I",
    authDomain: "login-page-c70ab.firebaseapp.com",
    databaseURL: "https://login-page-c70ab.firebaseio.com",
    projectId: "login-page-c70ab",
    storageBucket: "login-page-c70ab.appspot.com",
    messagingSenderId: "46349091083"
  };
  firebase.initializeApp(config);
</script>

</body> 
</html>


