.logo{
	position:sticky;
	top: 0;
	z-index:99;
	background-color:#ffffff;
    width:220px;
    height:80px;
}
div.set ul{
	background-color: #ffffff;
	border-radius: 4px;
	position:relative;
	height:auto;
	top:4px;
    left: 11.65%;
	border: 2px solid black;
	padding:12px;
	width:9%;
}
div.set li{
	font-weight: bold;
	margin: 5%;
	display: inline;
	padding-bottom:10px;
	float:center;
}
div.set li a{
    color: black;
    background-color:#00BFFF;
	text-decoration: none;
    text-align: center;
	border:2px solid black;
	display:block;
    padding: 19px 16px;
	position:center;
	transition: all 0.4s ease 0s;
}
div.set li a:hover {
    background-color: #FF4500;
	color:white;
}

div.profile, .note, .utility{
	background-color: #ffffff;
	border-radius: 4px;
	position:absolute;
	height:auto;
    top: 11.7%;
    left: 25%;
	border: 2px solid black;
	width: 65%;
	padding:12px;
}

div.set .active2{
    background-color: #32CD32;
}

/* profile page*/
.subprofile{
	padding-top:1%;
}
input[type=text], input[type=password], input[type=email], select {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	bottom:4.5px;
	position:relative;
	font-size:20px
}
input[type=text]:focus {
    border: 3px solid #555;
}
label{
    display:inline-block;
    width:100px;
}
#unitno, #postalcode{
    width:15%;
}
.button2{
	background-color: #4CAF50;
	border-radius: 4px;
	padding:12px;
	transition: all 0.3s ease 0s;
	color:white;
}
.button2:hover{
	background-color:#e15a1f;
	color:white;
	cursor:pointer;
}
.reset{
	background-color: #ff9800;
	color:white;
	border-radius: 4px;
	padding:12px;
	transition: all 0.3s ease 0s;
}
.reset:hover{
	background-color:#e15a1f;
	color:white;
	cursor:pointer;
}

.info{
	font-weight:bold;
	background-color: #e7f3fe;
    border-left: 6px solid #2196F3;   
	padding: 10px 16px;

}

/* notification page*/
hr{
	border: 1px solid black;
    outline-style: solid;
    outline-color: red;
	width:30%;
}
.heading{
	text-align:center;
}
.subnote{
	font-size:18px;
    padding-bottom: 3%;
}
/* utility page*/
.mid{
	list-style-type: none;
    margin: 0;
    padding: 0;
}
.mid li{
	display: block;
	text-align:left;
    float: left;
}
.mid img{
	margin: 0;
    padding-left:125px;
}
.water img, .electricity img{
	padding-top:15px;
}

h2{
	float:right;
	font-size:30px;
	text-align:left;
}
.gas h2{
	padding-right:155px;
}
.water h2{
	padding-right:35px;
}
.electricity h2{
	padding-right:10px;
}
.words {
	font-size:18px;
	padding-left:150px;
}
.usage{
	font-size:40px;
	font-weight:bold;
	color:green;
}
.amount{
	font-size:30px;
	font-weight:bold;
	color:green;
}

